@import "tailwindcss";

/* clerk bata user le sign in garepaxi ko  */
.cl-avatarBox {
  width: 2rem;
  height: 2rem;
}
.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}
input {
  background-color: white;
  accent-color: black;
  border: 1px solid #ccc;
  color: #333;
}
